
<h3>Upload a Badge Scan Report</h3>
<p>
    This form allows you to upload a badge scan report.
</p>
<form novalidate ng-submit="fileCtrl.uploadAll()">

        <h4> Badge Scan Reports</h4>
        
        <div class="row" ng-repeat="report in fileCtrl.reports">

            <div class="small-3 column">
                <a href="#" class="radius button" ng-file-select ng-model="report.file">Select a file</a>
            </div>
            <div class="small-8 column">
                <br />
                {{ report.file[0].name }}
            </div>
        </div>
        <div class="row">
            <a ng-click="fileCtrl.addReport()">+ Add a report</a><br />
            <button class="radius button" type="submit">Upload</button>

        </div>
    <br />

</form>