
<h3>Upload a Card Activity Report</h3>
<p>
    This form allows you to upload a card activity report.
</p>

<form novalidate name="badgeScanForm" ng-submit="fileCtrl.uploadAll()" ng-controller="BadgeScanController as bsCtrl">

        <h4>Date</h4>
        <div class="large-6 column">

            <label for="monthYear">Month/Year of Report</label>

            <date-picker id="monthYear" format="MMM yyyy" placeholder="."
                         ng-model="fileCtrl.form.monthYear">
            </date-picker>

            @*<input type="text" ng-model="fileCtrl.invoice.monthYear" id="monthYear" ng-datepicker="{}" required />*@
        </div>


        <label for="dateReceived">Date Received:</label>
        @*<input type="date" ng-model="fileCtrl.invoice.dateReceived" id="dateReceived" ng-datepicker="{}" placeholder="optional" />*@
        @*<input type="date" ng-model="fileCtrl.invoice.dateReceived" id="dateReceived" pick-a-date="date" placeholder="optional" />*@
        <date-picker id="dateReceived"
                     format="dd MMM yyyy" placeholder="optional" today="Today Not Tomorrow"
                     ng-model="fileCtrl.form.dateReceived"></date-picker>



        <h4>
            Card Activity Reports
            <a ng-click="fileCtrl.addReport()">
                <i class="fi-plus green px24"></i>
            </a>
            <a ng-click="fileCtrl.removeReport()">
                <i class="fi-minus orange px24"></i>
            </a><br />
        </h4>





        <!--<input type="file" class="fileInput" ng-file-select ng-model="files" ng-multiple="false" />-->
        <div class="row" ng-repeat="report in fileCtrl.reports">
            <div class="small-6 column">
                <label for="garageID">Garage:</label>
                <select ng-model="report.garageID" ng-options="garage.garageID as garage.name for garage in garages" id="garageID">
                    <option value="">-- select a garage --</option>
                </select>
            </div>
                <a href="#" class="radius button" ng-file-select ng-model="report.file">Select a file</a>
            <div class="small-12 column">
                {{ report.file[0].name }}
            </div>
        </div>
        <div class="row">
            <button class="radius button" type="submit">Upload</button>
            <a class="radius button" ng-click="fileCtrl.clearForm()">Clear Form</a>
        </div>

        <br />

    <br />


    <div class="ball hideMe">
        Uploading...
    </div>

</form>