

<h3>Identify Discrepancies</h3>
<p>
    This page identifies discrepancies between garages.  Here you will select an Invoice Active Parker
    Report along with the Month and Year.


</p>
<form novalidate ng-submit="controller.submit()">
    <div class="small-12 column">
        <h4> Reports</h4>
        <div class="small-5 column">

            <label for="monthYear">Month/Year of Report</label>

            <date-picker id="monthYear" format="MMM yyyy" placeholder="."
                         ng-model="controller.monthYear">
            </date-picker>

            <div class="small-4 column">
                <label for="garageID">Garage:</label>
                <select ng-model="controller.garageID" ng-options="garage.garageID as garage.name for garage in garages" id="garageID">
                    <option value="">-- select a garage --</option>
                </select>
            </div>


            <div class="row">
                <button class="radius button" type="submit">Identify Points of Contention</button>
            </div>
        </div>
    </div>
    <br />


</form>