

<h3>Identify Discrepancies</h3>
<p>
    This page identifies errors in invoices for a Garage.  Here you will select a Garage along with the Month and Year
    to check for errors.
    The system will check the database for errors and generate a report to use.

</p>
<form novalidate name="discrepanciesForm" ng-submit="controller.submit()">
        <h4> Reports</h4>

            <label for="monthYear">Month/Year of Report</label>

            <date-picker id="date" class="input" id="monthYear" format="MMM yyyy" placeholder="." ng-model="controller.monthYear">
            </date-picker>


            <label for="garageID">Garage:</label>
            <select ng-model="controller.garageID" ng-options="garage.garageID as garage.name for garage in garages" id="garageID">
                <option value="">-- select a garage --</option>
            </select>



            <div class="row">
                <button class="radius button" type="submit">Identify Points of Contention</button>
            </div>


    <br />


</form>

<script>
    console.log("hello");

</script>