<div ng-controller="FileUploadController">
    <input type="file" id="file" name="file" />
    <br>
    <button ng-click="upload()">Upload</button>
    <p>{{data}}</p>
</div>


<!--
 invoiceID: '',
            garageID: '',
            totalAmountBilled: '',
            dateReceived: '',
            billingStartDate: '',
            billingEndDate: '',
            numberOfLeasedSpots: '',
            numberOfValidations: ''
    -->