
<h3>Upload History</h3>
<div id="uploadHistoryContent">
        <h4>Invoices</h4>

    <ul ng-repeat="invoice in invoices" class="accordion" data-accordion>
        <li class="accordion-navigation">
            <a href="#{{invoice.id}}">
                Invoice #{{invoice.id}}   {{invoice.monthYear | date:'MMMM yyyy'}} for ${{invoice.totalAmountBilled}}
            </a>
            <div id="{{invoice.id}}" class="content active">
                <h5>Active Parker Reports</h5>
                <table ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
                    <thead id="uploadTableHead">
                        <tr>
                            <th>Garage</th>
                            <th>Invoice ID</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody id="uploadTableBody" ng-repeat="invoice in invoices">
                    
                        <tr class="tableRow" ng-repeat="invoiceAPR in invoiceAPRs[invoice.invoiceID]">
                            <td>{{garages[invoiceAPR.garageID].name}}</td>
                            <td>{{invoiceAPR.id}}</td>
                            <td>{{invoiceAPR.monthYear | date:'MMMM yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
                
            
            </div>
        </li>

    </ul>
        @*<table ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
            <thead id="uploadTableHead">
                <tr>
                    <th>Invoice ID</th>
                    <th>Date</th>
                    <th>Amount Billed</th>
                </tr>
            </thead>

            <tbody id="uploadTableBody" ng-repeat="invoice in invoices">
                <tr class="tableRow" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                    <td>{{invoice.id}}</td>
                    <td>{{invoice.monthYear | date:'MMMM yyyy'}}</td>
                    <td>${{invoice.totalAmountBilled}}</td>
                </tr>
                <tr class="tableRow" ng-repeat="invoiceAPR in invoiceAPRs[invoice.invoiceID]">
                    <td>{{invoiceAPR.id}}</td>
                    <td>{{invoiceAPR.monthYear | date:'MMMM yyyy'}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>*@
    <h4>QL Active Parker Reports</h4>
        <table ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
            <thead id="uploadTableHead">
                <tr>
                    <th>Garage</th>
                    <th>ID</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody id="uploadTableBody">
                    <tr class="tableRow" ng-repeat="report in qlAPRs" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                        <td>{{garages[report.garageID].name}}</td>
                        <td>{{report.id}}</td>
                        <td>{{report.monthYear | date:'MMMM yyyy'}}</td>
                    </tr>
                </tbody>
        </table>




        <div id="itmTableWrapper">
            <table id="uploadTableHead">
                <tr>
                    <th class="nameColITMTable">Name</th>
                    <th class="tokenIDColITMTable">Token ID</th>
                </tr>
            </table>

            <div id="uploadTableBodyWrapper">
                <table id="uploadTableBody" ng-controller="ParkerReportTeamMembersController as ITMCtrl">
                    <tr class="tableRow" ng-repeat="itm in ITMCtrl.invoiceTeamMembers">
                        <td class="nameColITMTable">{{itm.firstName}} {{itm.lastName}}</td>
                        <td class="tokenIDColITMTable">{{itm.badgeID}}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
