@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        To: soullie7@msu.edu
        From: lolcats@website.com
        Subject: Important Message

        Hello,
        You wanted important web links right?
    </div>
</body>
</html>
