<div class="sideBar">

    <!-- Parking Usage -->
    <div id="usageTableHeader">
        Parking Usage
    </div>

    <div id="usageTableWrapper">

        <table id="usageTableHead">
            <tr>
                <th class="nameColUsageTable">Name</th>
                <th class="usageColUsageTable">Usage</th>
            </tr>
        </table>

        <div id="usageTableBodyWrapper" ng-show="teamCtrl.teamMembers.length === 0">
            <table id="usageTableBody">
                <tr class="tableRow" ng-repeat="teammember in teamCtrl.teamMembers[getCurrent().garageID]">
                    <td class="nameColUsageTable">{{teammember.firstName}} {{teammember.lastName}}</td>
                    <td class="usageColUsageTable">0/31</td>
                </tr>
            </table>
        </div>

    </div> <!-- usageTableWrapper end -->



</div> <!-- sideBar end -->

