<div class="sideBar">

    <!-- Parking Usage -->
    <div id="usageTableHeader">
        Parking Usage
    </div>

    <div id="usageTableWrapper">

        <table id="usageTableHead">
            <tr>
                <th class="nameColUsageTable">Name</th>
                <th class="usageColUsageTable">Usage</th>
            </tr>
        </table>

        <div id="usageTableBodyWrapper" ng-controller="BadgeScanController as bsCtrl">
            <table id="usageTableBody" ng-if="getCurrent().garageID > 0" ng-init="bsCtrl.findUsage(getCurrent().garageID)"> <!-- No garages have an ID of 0 -->
                <tr class="tableRow" ng-repeat="teammember in usage | orderBy:'usage'">
                    <td class="nameColUsageTable">{{teammember.name}}</td>
                    <td class="usageColUsageTable">{{teammember.usage}}/{{daysInMonth}}</td>
                </tr>
            </table>
        </div>

    </div> <!-- usageTableWrapper end -->                                                                   

</div> <!-- sideBar end -->

