
<div id="garageMapContent" ng-controller="MapController as map">
    
    <div id="mapKey">
        <h5>&nbsp;&nbsp;Spots Available&nbsp;&nbsp;&nbsp;</h5>
        <div id="greenBox"></div>
        <div class="keyText">100+ Spots</div>
        <br />
        <div id="yellowBox"></div>
        <div class="keyText">51 - 100 Spots</div>
        <br />
        <div id="redBox"></div>
        <div class="keyText">1 - 50 Spots</div>
        <br />
        <div id="blackBox"></div>
        <div class="keyText">Garage Full</div>
    </div>
    
</div>


