
<ul class="side-nav">
    <li><a ui-sref="expense.uploadHistory">Upload History</a></li>
    <li><a ui-sref="expense.invoice">Upload an Invoice</a></li>
    <li><a ui-sref="expense.parkerReport">Upload a Parker Report</a></li>
    <li><a ui-sref="expense.badgeScan">Upload a Card Activity Report</a></li>
    <li><a ui-sref="expense.discrepancies">Detected Issues</a></li>
    <li><a href=""></a></li>
</ul>
