
<li class="divider"></li>

<li ng-controller="MapController as map">
    <a ng-click="addGarage()">
        <i class="fi-plus"></i>
    </a>
</li>

@*Single Garage Dropdown*@
<li ng-class="{active:!tabCtrl.sideIsSet(-1)}" ng-controller="SideBarController as sidebar" class="has-dropdown">
    <a href="#">Garage</a>  <a ng-if="sidebar.currentGarage" href="#">: {{ sidebar.currentGarage.name }}</a>
    <ul class="dropdown">
        <li ng-repeat="garage in sidebar.garages">
            <ul>
                <li ng-class="{active:tabCtrl.sideIsSet(garage.garageID)}">
                    <a ui-sref=".garage" ng-click="sidebar.setCurrent(garage); tabCtrl.setSideTab(garage.garageID);">{{garage.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
