    <!-- Overview -->
<div id="garageTableHeader">
    Overview
</div>


<table id="garageTable">
    <tr>
        <td>Number of Garages: </td>
        <td>{{sidebar.garages.length}}</td>
    </tr>
    <tr>
        <td>Total Cost Per Month: </td>
        <td><!--{{sidebar.totalCost | currency}}--></td>
    </tr>
    <tr>
        <td>Total Capacity: </td>
        <td>{{sidebar.totalCapacity}}</td>
    </tr>
    <tr>
        <td>Total Number of Leased Spaces: </td>
        <td>{{sidebar.totalLeasedSpaces}}</td>
    </tr>
    <tr>
        <td>Total Number of Team-Member Spaces: </td>
        <td>{{sidebar.totalTeamMemberSpaces}}</td>
    </tr>
    <tr>
        <td>Total Required Buffer Size: </td>
        <td>{{sidebar.totalRequiredBufferSize}}</td>
    </tr>
    <tr>
        <td>Average Cost Per Space: </td>
        <td>{{sidebar.averageCostPerSpace | currency}}</td>
    </tr>
    <tr>
        <td>Average Transient Sale Price: </td>
        <td>{{sidebar.averageTransientSalePrice | currency}}</td>
    </tr>
</table>
