
<ul class="side-nav">
    <li><a ui-sref="upload.uploadHistory">Upload History</a></li>
    <li><a ui-sref="upload.invoice">Upload an Invoice</a></li>
    <li><a ui-sref="upload.parkerReport">Upload an Active Parker Report</a></li>
    <li><a ui-sref="upload.badgeScan">Upload a Card Activity Report</a></li>
</ul>
