<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script type="text/javascript" src="../Scripts/Angular/pera.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/pera.config.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/garages/garages.module.js' %}"></script>
    <script type="text/javascript" src="../Scripts/Angular/garages/services/garages.service.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="../Scripts/Angular/utils/services/snackbar.service.js' %}"></script>
</body>
</html>
