
html, body, #wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


#wrapper {
    overflow: hidden;
}

#issuesContent, #uploadHistoryContent, #garageMapContent, #notificationsContent {
    height: 96.68%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sideBar {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


#map-canvas {
    height: 97%;
    z-index: 1;
}

#expenseMain {
    height: 100%;
}

#issueTableWrapper {
    width: 100%;
    height: 96.5%; /*Set this to limit height of table*/
    margin: 0;
    padding: 0;
}

#issueTableBodyWrapper {
    height: 100%;
    overflow: auto;
}

#issueTableHead {
    background-color: #A5D9E6;
    width: 100%;
    padding: 0;
    margin: 0;
}

#issueTableBody {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#uploadTableWrapper {
    height: 45%;/*96.5%; /*Set this to limit height of table*/
    margin: 0;
    padding: 0;
}

#itmTableWrapper {
    height: 100%; /*Set this to limit height of table*/
    margin: 0;
    padding: 0;
}

#uploadTableBodyWrapper {
    height: 100%;
    overflow: auto;
}

#uploadTableHead {
    background-color: #A5D9E6;
    width: 100%;
    padding: 0;
    margin: 0;
}

#uploadTableBody {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

tr.tableRow.selected {
    background-color: #6c8;
}

#garageTable {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.garageColIssueTable {
    width: 20%;
}

.nameColIssueTable {
    width: 20%;
}

.commonIDColIssueTable {
    width: 20%;
}

.issueColIssueTable {
    width: 20%;
}

.dateColIssueTable {
    width: 20%;
}

.garageColUploadTable {
    width: 33%;
}

.typeColUploadTable {
    width: 33%;
}

.dateColUploadTable {
    width: 33%;
}

.nameColITMTable {
    width: 50%;
}

.tokenIDColITMTable {
    width: 50%
}

#usageTableHeader, #garageTableHeader {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: normal;
    background-color: #444444;
    padding: 5px;
}

#usageTableWrapper {
    height: 71.65%;
    margin: 0;
    padding: 0;
}

#usageTableBodyWrapper {
    height: 100%;
    overflow: auto;
}

#usageTableHead {
    background-color: #A5D9E6;
    width: 100%;
    padding: 0;
    margin: 0;
}

#usageTableBody {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nameColUsageTable {
    width: 75%;
}

.usageColUsageTable {
    width: 25%;
}

#mapKey {
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    float: left;
    position: absolute;
    left: 25px;
    bottom: 10px;
    z-index: 99;
}

.keyText {
        font-size: 14px;  
}

#greenBox, #yellowBox, #redBox, #blackBox {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    margin: 1px;
    margin-right: 5px;
    float: left;
}

#greenBox {
    background-color: #859900;
}

#yellowBox {
    background-color: #b58900;
}

#redBox {
    background-color: #cb4b16;
}

#blackBox {
    background-color: #6c71c4;
}

.centerV {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.green {
    color: #859900 ;
}

.orange {
    color: #FF8300 ;
}

.yellow {
    color: #FFB400 ;
}

.red {
    color: #DC322F ;
}

.px24 {
    font-size: 24px;
}

.date-input {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 
}

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem; 
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

.padTop {
    padding-top: 20px;
}

.sideBar .ng-scope {
    padding: 0;
}