html, body, #wrapper, #garageMapContent {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #CCC;
}

#map-canvas {
    height: 100%;
}

#sideBar {
    height: 100%;
    overflow: auto;
}

.row {
    max-width: 100%;
}

#sideBarContent {
    margin: 10px;
}

#expenseContent {
    height: 100%;
}

#expenseMain {
    height: 100%;
}

#issueTableWrapper {
    height: 60%;
    margin: 0;
    padding: 0;
}

#issueTableHeader {
    background-color: #A5D9E6;
}

.left {
    width: 30%;
    float: left;
    text-align: left;
    margin-left: 5%;
}

.center {
    width: 30%;
    float: left;
    text-align: center;
}

.right {
    width: 30%;
    float: left;
    text-align: right;
    margin-right: 5%;
}

#issueTableFilters {
    height: 10%;
}

#issueTableContent {
    width: 100%;
    padding: 0;
    margin: 0;
}

#issueTableContentWrapper {
    height: 97%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.issueRow {
    background-color: #ddd; /* Currently just overwrites Foundation CSS on every other row to product desired effect. Janky */
}

tr.issueRow.selected {
    background-color: #6c8;
}

#garageTable {
    width: 100%;
    padding: 0;
    margin: 0;
}




