html, body, #wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #CCC;
}

#wrapper {
    overflow: hidden;
}

#expenseContent, #garageMapContent, #notificationsContent {
    height: 96.68%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sideBar {
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#map-canvas {
    height: 100%;
}

#expenseMain {
    height: 100%;
}

#issueTableWrapper {
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
}

#issueTableHead {
    background-color: #A5D9E6;
    width: 100%;
    padding: 0;
    margin: 0;
}

#issueTableBody {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.issueRow {
    background-color: #ddd; /* Currently just overwrites Foundation CSS on every other row to product desired effect. Janky */
}

tr.issueRow.selected {
    background-color: #6c8;
}

#garageTable {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.garageCol {
    width: 33%;
}

.issueCol {
    width: 33%;
}

.dateCol {
    width: 33%;
}

#usageTableHeader, #garageTableHeader {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: normal;
    background-color: #444444;
}

#usageTable {
    width: 100%;
    height: 60%;
}

#usageTableHead {
    background-color: lightblue;
}

#usageTableBody {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#mapKey {
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    float: left;
    position: absolute;
    left: 25px;
    bottom: 10px;
}

.keyText {
        font-size: 14px;  
}

#greenBox, #yellowBox, #redBox, #blackBox {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    margin: 1px;
    margin-right: 5px;
    float: left;
}

#greenBox {
    background-color: #859900;
}

#yellowBox {
    background-color: #b58900;
}

#redBox {
    background-color: #cb4b16;
}

#blackBox {
    background-color: #6c71c4;
}


