
<div id="uploadHistoryContent">
    <div id="uploadTableWrapper" class="columns">
        <div class="columns small-2">
            <a href="#" ui-sref="invoice" data-reveal-id="uploadInvoiceModal" class="radius button">Upload Invoice</a>
        </div>
        <table id="uploadTableHead">
            <tr>
                <th class="garageColUploadTable">Garage</th>
                <th class="typeColUploadTable">Type</th>
                <th class="dateColUploadTable">Date</th>
            </tr>
        </table>

        <div id="uploadTableBodyWrapper">
            <table id="uploadTableBody" ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
                <tr class="tableRow" ng-repeat="upload in expenseCtrl.uploads" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                    <td class="garageColUploadTable">{{upload.garage}}</td>
                    <td class="typeColUploadTable">{{upload.type}}</td>
                    <td class="dateColUploadTable">{{upload.date | date:'MM/dd/yyyy'}}</td>
                </tr>
            </table>
        </div>

        <div id="itmTableWrapper">
            <table id="uploadTableHead">
                <tr>
                    <th class="nameColITMTable">Name</th>
                    <th class="tokenIDColITMTable">Token ID</th>
                </tr>
            </table>

            <div id="uploadTableBodyWrapper">
                <table id="uploadTableBody" ng-controller="ParkerReportTeamMembersController as ITMCtrl">
                    <tr class="tableRow" ng-repeat="itm in ITMCtrl.invoiceTeamMembers">
                        <td class="nameColITMTable">{{itm.firstName}} {{itm.lastName}}</td>
                        <td class="tokenIDColITMTable">{{itm.tokenID}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    </div>
