<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Parking Dashboard</title>
     
      <!-- ====================== jQuery ============================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            var e = document.createElement('script');
            e.src = '@Url.Content("~/Scripts/jquery-1.7.1.js")';
            e.type = 'text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);

        }
    </script>



    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://github.com/KidSysco/jquery-ui-month-picker/blob/master/css/MonthPicker.css" rel="stylesheet"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>
    <script src="https://raw.github.com/digitalBush/jquery.maskedinput/1.3.1/dist/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js/MonthPicker.min.js"></script>

        <!--====================== AngularJS ============================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>
        <script src="https://code.angularjs.org/1.3.13/angular-sanitize.js"></script>


        <!--====================== angular-file-upload ============================== -->
        <script type="text/javascript" src="~/Scripts/js/angular-file-upload/angular-file-upload-shim.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js/angular-file-upload/angular-file-upload.min.js"></script>

        <script type="text/javascript" src="~/Scripts/js/angular-ui-router.js"></script>

        <script type="text/javascript" src="~/Scripts/js/ui-router-extras/ct-ui-router-extras.js"></script>
        <script type="text/javascript" src="~/Scripts/js/ui-router-extras/ct-ui-router-extras.core.js"></script>
        <script type="text/javascript" src="~/Scripts/js/ui-router-extras/ct-ui-router-extras.min.js"></script>
        <script type="text/javascript" src="~/Scripts/js/ui-router-extras/modular/ct-ui-router-extras.sticky.min.js"></script>

        <!--====================== Foundation ============================ -->
        <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>

        <!--====================== Google Maps API ============================ -->
        <!--<script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-BwHOcVyVW0e8yJa1sAk5GBFtm5YeHM">-->
        <!--</script>-->
        @*Map Labels*@
        <script type="text/javascript" src="~/Scripts/js/ELabels3.js"></script>

        <!--=======================Underscore.js =============================== -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

        <!--====================== Snackbar.js ============================ -->
        <script type="text/javascript" src="~/Scripts/js/snackbar.min.js"></script>
        <link href="~/Scripts/css/snackbar.min.css" rel="stylesheet" />
        <link href="~/Scripts/css/material.css" rel="stylesheet" />

        <!--====================== pera-app ======================== -->
        @Styles.Render("~/bundles/pera-app")

        <script type="text/javascript" src="~/Scripts/pera-app/pera.js"></script>

        <script type="text/javascript" src="~/Scripts/pera-app/pera.config.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/expenses/expenses.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/expenses/controllers/expenses.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/map/map.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/map/services/mapinitializer.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/map/controllers/map.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/tabs/tabs.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/tabs/controllers/tab.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/garages/garages.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/garages/services/garages.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/garages/controllers/garages.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/teammembers/teammembers.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/teammembers/services/teammembers.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/teammembers/controllers/teammembers.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/utils/utils.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/utils/services/snackbar.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/tabs/tabs.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/tabs/controllers/tab.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/fileupload/fileupload.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/fileupload/services/upload.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/fileupload/services/invoiceform.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/fileupload/controllers/fileupload.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/fileupload/controllers/invoiceform.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/invoiceTeamMembers/invoiceTeamMembers.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/invoiceTeamMembers/services/invoiceTeamMembers.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/invoiceTeamMembers/controllers/invoiceTeamMembers.controller.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/sidebar/sidebar.module.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/sidebar/services/sidebar.service.js"></script>
        <script type="text/javascript" src="~/Scripts/pera-app/sidebar/controllers/sidebar.controller.js"></script>

        <!--====================== CSS ================================= -->
        <link rel="stylesheet" href="~/Scripts/css/site.css" />

</head>
<body ng-app="pera">


          <!--======================== Nav Bar ============================ -->
         <nav class="top-bar" data-topbar role="navigation" data-options="is_hover:false"> <!-- ng-init="tab.setSideTab(-1)"-->
              <!--TODO Make dropdown hoverable AND PROPERLY clickable -->
             <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Parking Dashboard</a></h1>
                </li>
                <li class="divider"></li>
            </ul>

            <section class="top-bar-section">
                 <!-- Right Nav Section -->
                 <ul class="right">
                    <li class="divider"></li>

                     <li> <!--ng-class="{active:tab.sideIsSet(-1)}">-->
                          <!-- <a href="#" ng-click="tab.setSideTab(-1)">Overview</a>-->
                         <a ui-sref="overview">Overview</a>
                    </li>

                    <li class="divider"></li>

                      @*Single Garage Dropdown*@ 
                     <li ng-class="{active:!tab.sideIsSet(-1)}" ng-controller="SideBarController as sidebar"class="has-dropdown">
                        <a href="#">Single Garage</a><a ng-if="sidebar.currentGarage != null" href="#">: {{ sidebar.currentGarage.name }}</a>
                        <ul class="dropdown">
                            <li ng-controller="SideBarController as sidebar">
                                <ul ng-repeat="garage in sidebar.garages">
                                    <li ng-class="{active:tab.sideIsSet($index)}"><a ui-sref="singleGarage" ng-click="sidebar.setCurrent(garage)">{{garage.name}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                        
                  <!-- Left Nav Section -->
                   <ul class="left">
                    <li class="divider"></li>

                       <!--<li ng-class="{active:tab.isSet(1) || tab.isSet(2)}" class="has-dropdown">-->
                       <li class="has-dropdown">
                           <a href="#">Reconcile Expenses</a>
                           <ul class="dropdown">
                               <li>
                                   <ul>
                                       <!--<li ng-class="{active:tab.isSet(1)}">-->
                                       <li>
                                           <a ui-sref="detectedIssues">Detected Issues</a>
                                       </li>
                                   </ul>
                                   <ul>
                                       <li>
<!--                                       <li ng-class="{active:tab.isSet(2)}">-->

                                           <a ui-sref="uploadHistory">Upload History</a>
                                           <!--<a href="#" ng-click="tab.setTab(2)">Upload History</a>-->
                                       </li>
                                   </ul>
                               </li>
                           </ul>
                       </li>
                    @*<li class="divider"></li>*@
                        <li>
                          <a ui-sref="garageMap">Garage Map</a>
                        </li>
                    <li class="divider"></li>

                    <li>
                        <a href="#">Notifications</a>
                    </li>

                    <li class="divider"></li>
                </ul>
            </section>
        </nav>
    <div class="row">

        <div ui-view="main" class="columns small-9">
            <div id="map-canvas"></div>
        </div>
        <div ui-view="sidebar" class="columns small-3"></div>

        <div id="uploadInvoiceModal" class="reveal-modal" data-reveal>
            <div ui-view="modal"></div>
            <a class="close-reveal-modal">&#215;</a> <!-- the x which closes the modal -->
        </div>
 
    </div>



           <!--
       ======================== Detected Issues Content ============================ 
        <div class="row">
            <div ui-view="content" class="columns small-8">
            </div>   end div ui-view 

        </div>
            <div class="sideBar columns small-4" ng-controller="GaragesController as garageCtrl">

                  Overview 
                 
                <div ng-show="tab.sideIsSet(-1)">
                    <div id="garageTableHeader">
                        Overview
                    </div>

                    <table id="garageTable">
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.totalCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.totalCapacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.totalLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.totalTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.totalRequiredBufferSize}}</td>
                        </tr>
                        <tr>
                            <td>Average Cost Per Space: </td>
                            <td>{{garageCtrl.averageCostPerSpace | currency}}</td>
                        </tr>
                        <tr>
                            <td>Average Transient Sale Price: </td>
                            <td>{{garageCtrl.averageTransientSalePrice | currency}}</td>
                        </tr>
                    </table>
                </div>

                  Single Garage 
                  
                <div ng-show="!tab.sideIsSet(-1)">
                    <div id="garageTableHeader">
                        {{garageCtrl.garages[tab.sideTab].name}}
                    </div>

                    <table id="garageTable">
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.costs[tab.sideTab] | currency}}</td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].address}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].capacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].numberOfLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].numberOfTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].minimumNumberOfBufferSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Cost Per Space: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].spaceCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Transient Sale Price: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].transientSalePrice | currency}}</td>
                        </tr>
                        <tr>
                            <td>Owner: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].owner}}</td>
                        </tr>
                        <tr>
                            <td>Billing Party: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].billingParty}}</td>
                        </tr>
                        <tr>
                            <td>Garage Manager ID: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].garageManagerID}}</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>    











          ======================== Upload History Content ============================ 
        <div id="uploadHistoryContent" ng-controller="ExpensesController as expenseCtrl" ng-show="tab.isSet(2)">
            <div id="uploadTableWrapper" class="columns small-8" >

                <table id="uploadTableHead">
                    <tr>
                        <th class="garageColUploadTable">Garage</th>
                        <th class="typeColUploadTable">Type</th>
                        <th class="dateColUploadTable">Date</th>
                    </tr>
                </table>

                <div id="uploadTableBodyWrapper">
                    <table id="uploadTableBody" ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
                        <tr class="tableRow" ng-repeat="upload in expenseCtrl.uploads" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                            <td class="garageColUploadTable">{{upload.garage}}</td>
                            <td class="typeColUploadTable">{{upload.type}}</td>
                            <td class="dateColUploadTable">{{upload.date | date:'MM/dd/yyyy'}}</td>
                        </tr>
                    </table>
                </div>



                  CLEAN UP LATER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                <div id="itmTableWrapper">
                    <table id="uploadTableHead">
                        <tr>
                            <th class="nameColITMTable">Name</th>
                            <th class="tokenIDColITMTable">Token ID</th>
                        </tr>
                    </table>

                    <div id="uploadTableBodyWrapper">
                        <table id="uploadTableBody" ng-controller="ParkerReportTeamMembersController as ITMCtrl">
                            <tr class="tableRow" ng-repeat="itm in ITMCtrl.invoiceTeamMembers">
                                <td class="nameColITMTable">{{itm.firstName}} {{itm.lastName}}</td>
                                <td class="tokenIDColITMTable">{{itm.tokenID}}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                  CLEAN UP LATER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
            </div>



            <div class="sideBar columns small-4" ng-controller="GaragesController as garageCtrl">

                  Overview 
                <div ng-show="tab.sideIsSet(-1)">
                    <div id="garageTableHeader">
                        Overview
                    </div>

                    <table id="garageTable">
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.totalCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.totalCapacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.totalLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.totalTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.totalRequiredBufferSize}}</td>
                        </tr>
                        <tr>
                            <td>Average Cost Per Space: </td>
                            <td>{{garageCtrl.averageCostPerSpace | currency}}</td>
                        </tr>
                        <tr>
                            <td>Average Transient Sale Price: </td>
                            <td>{{garageCtrl.averageTransientSalePrice | currency}}</td>
                        </tr>
                    </table>
                </div>

                  Single Garage 
                <div ng-show="!tab.sideIsSet(-1)">
                    <div id="garageTableHeader">
                        {{garageCtrl.garages[tab.sideTab].name}}
                    </div>

                    <table id="garageTable">
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.costs[tab.sideTab] | currency}}</td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].address}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].capacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].numberOfLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].numberOfTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].minimumNumberOfBufferSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Cost Per Space: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].spaceCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Transient Sale Price: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].transientSalePrice | currency}}</td>
                        </tr>
                        <tr>
                            <td>Owner: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].owner}}</td>
                        </tr>
                        <tr>
                            <td>Billing Party: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].billingParty}}</td>
                        </tr>
                        <tr>
                            <td>Garage Manager ID: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].garageManagerID}}</td>
                        </tr>
                    </table>
                </div>



                  Invoice Upload 
                <a id="uploadInvoiceButton" href="/#/invoiceForm" data-reveal-id="uploadInvoiceModal" class="radius button">Upload Invoice</a>
                <div id="uploadInvoiceModal" class="reveal-modal" data-reveal>
                    <div ng-view></div>
                    <a class="close-reveal-modal">&#215;</a>
                </div>

            </div>

        </div>
    </div>


          ======================== Garage Map Content ============================ 
   

          ======================== Notifications Content ============================ 
        <div id="notificationsContent" class="row" ng-show="tab.isSet(4)">
              TODO: this 
        </div>

    </div>

        -->

      <!-- Makes Foundation Stuff Work -->
    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>

</html>
