<!DOCTYPE html>
<html ng-app="pera">
<head>

    <meta charset="UTF-8">
    <title>Parking Dashboard</title>
    <!-- <link rel="stylesheet" type="text/css" href="dashboard.css"> -->
    <!-- ====================== jQuery ============================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>

    <!-- ====================== AngularJS ============================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>

    <!-- ====================== Foundation ============================ -->
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>

    <!-- ====================== Google Maps API ============================ -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-BwHOcVyVW0e8yJa1sAk5GBFtm5YeHM">
    </script>
    <!-- Map Labels -->
    <script type="text/javascript" src="~/Scripts/Angular/map/ELabels3.js"></script>

    <!-- =======================Underscore.js =============================== -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

    <!-- ====================== Snackbar.js ============================ -->
    <script type="text/javascript" src="~/Scripts/js/snackbar.min.js"></script>
    <link href="~/Scripts/css/snackbar.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/material.css" rel="stylesheet" />

    <!-- ====================== Angular ======================== -->
    <script type="text/javascript" src="~/Scripts/Angular/pera.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/dashboard/dashboard.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/dashboard/controllers/expense.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/dashboard/controllers/map.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/tabs.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/controllers/tab.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/pera.config.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/garages/garages.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/garages/services/garages.service.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/garages/controllers/garages.controller.js"></script>

    <script type="text/javascript" src="~/Scripts/Angular/utils/utils.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/utils/services/snackbar.service.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/tabs.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/controllers/tab.controller.js"></script>

    <!-- ====================== CSS ================================= -->
    <link rel="stylesheet" href="~/Scripts/css/site.css" />

</head>

<body>
    <div id="wrapper" ng-controller="TabController as tab">

        <!-- ======================== Nav Bar ============================ -->
        <nav class="top-bar" data-topbar role="navigation" data-options="is_hover:false" ng-init="tab.setSideTab(-1)">
            <!-- TODO Make dropdown hoverable AND PROPERLY clickable -->
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">Parking Dashboard</a></h1>
                </li>
                <li class="divider"></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider"></li>

                    <!-- Overview -->
                    <li ng-class="{active:tab.sideIsSet(-1)}">
                        <a href="#" ng-click="tab.setSideTab(-1)">Overview</a>
                    </li>

                    <li class="divider"></li>

                    <!-- Single Garage Dropdown -->
                    <li ng-class="{active:!tab.sideIsSet(-1)}" class="has-dropdown">
                        <a href="#">Single Garage</a>
                        <ul class="dropdown" ng-controller="MapController as map">
                            <li ng-controller="GaragesController as garageCtrl">
                                <ul ng-repeat="garage in garageCtrl.garages">
                                    <li ng-class="{active:tab.sideIsSet($index)}"><a href="#" ng-click="tab.setSideTab($index)">{{garage.name}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left" ng-controller="MapController as map">
                    <li class="divider"></li>

                    <li ng-class="{active:tab.isSet(1)}">
                        <a href="#" ng-click="tab.setTab(1)">Expense Reconcilliation</a>
                    </li>

                    <li class="divider"></li>

                    <li ng-class="{active:tab.isSet(2)}">
                        <a href="#" ng-click="tab.setTab(2); map.initialized || map.initialize();">Garage Map</a>
                    </li>

                    <li class="divider"></li>

                    <li ng-class="{active:tab.isSet(3)}">
                        <a href="#" ng-click="tab.setTab(3)">Notifications</a>
                    </li>

                    <li class="divider"></li>
                </ul>
            </section>
        </nav>





        <!-- ======================== Expense Reconciliation Content ============================ -->
        <div id="expenseContent" class="row" ng-controller="ExpenseController as expenseCtrl" ng-show="tab.isSet(1)">
            <div id="issueTableWrapper" class="columns small-8">

                <div id="issueTableFilters" class="row" align="center">
                    <!-- TODO: dunno if I need this, put some filters in the header -->
                </div>

                <div id="issueTableHeader" class="row">
                    <div class="left">Garages</div>
                    <div class="center">Issue</div>
                    <div class="right">Date</div>
                </div>

                <div id="issueTableContentWrapper" class="row">
                    <table id="issueTableContent" class="row" ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
                        <tr class="issueRow" ng-repeat="issue in expenseCtrl.issues" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                            <td>{{issue.garage}}</td>
                            <td>{{issue.issue}}</td>
                            <td>{{issue.date | date:'MM/dd/yyyy'}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="columns small-4">
                <div class="row" ng-controller="GaragesController as garageCtrl">

                    <!-- Single Garage -->
                    <table id="garageTable" ng-show="!tab.sideIsSet(-1)">
                        <tr>
                            <td>Name: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].name}}</td>
                        </tr>
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.costs[tab.sideTab] | currency}}</td>
                        </tr>
                        <tr>
                            <td>Address: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].address}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].capacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].numberOfLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].numberOfTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].minimumNumberOfBufferSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Cost Per Space: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].spaceCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Transient Sale Price: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].transientSalePrice | currency}}</td>
                        </tr>
                        <tr>
                            <td>Owner: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].owner}}</td>
                        </tr>
                        <tr>
                            <td>Billing Party: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].billingParty}}</td>
                        </tr>
                        <tr>
                            <td>Garage Manager ID: </td>
                            <td>{{garageCtrl.garages[tab.sideTab].garageManagerID}}</td>
                        </tr>
                    </table>



                    <!-- Overview -->
                    <table id="garageTable" ng-show="tab.sideIsSet(-1)">
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.totalCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.totalCapacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.totalLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.totalTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.totalRequiredBufferSize}}</td>
                        </tr>
                        <tr>
                            <td>Average Cost Per Space: </td>
                            <td>{{garageCtrl.averageCostPerSpace | currency}}</td>
                        </tr>
                        <tr>
                            <td>Average Transient Sale Price: </td>
                            <td>{{garageCtrl.averageTransientSalePrice | currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>



        <!-- ======================== Garage Map Content ============================ -->
        <div id="garageMapContent" class="row" ng-show="tab.isSet(2)">

            <div id="map-canvas" class="columns small-10"></div>
            <div id="sideBar" class="columns small-2">

                <div id="garageInfoHeader" class="row">
                    Overview
                </div>

                <div class="row" ng-controller="GaragesController as garageCtrl">
                    <!-- Overview -->
                    <table id="garageTable" ng-show="tab.sideIsSet(-1)">
                        <tr>
                            <td>Cost Per Month: </td>
                            <td>{{garageCtrl.totalCost | currency}}</td>
                        </tr>
                        <tr>
                            <td>Capacity: </td>
                            <td>{{garageCtrl.totalCapacity}}</td>
                        </tr>
                        <tr>
                            <td>Leased Spaces: </td>
                            <td>{{garageCtrl.totalLeasedSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Team-Member Spaces: </td>
                            <td>{{garageCtrl.totalTeamMemberSpaces}}</td>
                        </tr>
                        <tr>
                            <td>Required Buffer Size: </td>
                            <td>{{garageCtrl.totalRequiredBufferSize}}</td>
                        </tr>
                        <tr>
                            <td>Average Cost Per Space: </td>
                            <td>{{garageCtrl.averageCostPerSpace | currency}}</td>
                        </tr>
                        <tr>
                            <td>Average Transient Sale Price: </td>
                            <td>{{garageCtrl.averageTransientSalePrice | currency}}</td>
                        </tr>
                    </table>
                </div>

                <div id="usageHeader" class="row">
                    Parking Usage
                </div>

                <!-- Overview -->
                <div class="row">
                    <table id="garageTable" ng-controller="GaragesController as garageCtrl" ng-show="tab.sideIsSet(-1)">
                        <tr style="background-color:lightblue">
                            <th>Name</th>
                            <th>Usage</th>
                        </tr>
                        <tr>
                            <td>Jesse Lacey</td>
                            <td>0/31</td>
                        </tr>
                        <tr>
                            <td>Vin Accardi</td>
                            <td>0/31</td>
                        </tr>
                        <tr>
                            <td>Haley Williams</td>
                            <td>1/31</td>
                        </tr>
                        <tr>
                            <td>Josh Farro</td>
                            <td>2/31</td>
                        </tr>
                        <tr>
                            <td>Jose Gonzalez</td>
                            <td>2/31</td>
                        </tr>
                        <tr>
                            <td>Ben Howard</td>
                            <td>2/31</td>
                        </tr>
                        <tr>
                            <td>Justin Vernon</td>
                            <td>3/31</td>
                        </tr>
                        <tr>
                            <td>Matt Tuck</td>
                            <td>3/31</td>
                        </tr>
                        <tr>
                            <td>Birdy Sephon</td>
                            <td>3/31</td>
                        </tr>
                        <tr>
                            <td>Jamison Parker</td>
                            <td>3/31</td>
                        </tr>
                        <tr>
                            <td>Andrew McMahon</td>
                            <td>3/31</td>
                        </tr>
                        <tr>
                            <td>Ben Folds</td>
                            <td>3/31</td>
                        </tr>
                        <tr>
                            <td>Tyler Reinhart</td>
                            <td>4/31</td>
                        </tr>
                        <tr>
                            <td>Vin Mistborn</td>
                            <td>4/31</td>
                        </tr>
                        <tr>
                            <td>Elend Venture</td>
                            <td>4/31</td>
                        </tr>
                        <tr>
                            <td>Sazed Clemins</td>
                            <td>4/31</td>
                        </tr>

                        <tr>
                            <td>Joe Hertler</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Rebecca Holzer</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Emily Rehaert</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Paul Kisvardy</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Leighton Long</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Andy Hull</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Jack White</td>
                            <td>5/31</td>
                        <tr>
                            <td>John Smith</td>
                            <td>5/31</td>
                        <tr>
                            <td>Lauren Snyder</td>
                            <td>5/31</td>
                        </tr>
                        <tr>
                            <td>Ben Gibbard</td>
                            <td>6/31</td>
                        </tr>
                        <tr>
                            <td>Ray Myers</td>
                            <td>7/31</td>
                        </tr>
                        <tr>
                            <td>Jeremy Mayville</td>
                            <td>9/31</td>
                        </tr>
                        <tr>
                            <td>Brooke Kohlhoff</td>
                            <td>9/31</td>
                        </tr>
                        <tr>
                            <td>Chelsea Filarski</td>
                            <td>9/31</td>
                        </tr>
                        <tr>
                            <td>Azurah Sweers</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Katie Werner</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Ruby Griggs</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Michael Moore</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Jeff Higgins</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Nelson Piper</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Garret Stier</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Steve Irwin</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Edward Grylls</td>
                            <td>10/31</td>
                        </tr>
                        <tr>
                            <td>Albert Ramirez</td>
                            <td>11/31</td>
                        </tr>
                    </table>
                </div>
            </div>
          

        </div>



        <!-- ======================== Notifications Content ============================ -->
        <div id="notificationsContent" class="row" ng-show="tab.isSet(3)">
            <!-- TODO: this -->
        </div>

    </div>


    <!-- Makes Foundation Stuff Work -->
    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>

</html> 