<!DOCTYPE html>
<html ng-app="pera">
<head>

    <meta charset="UTF-8">
    <title>Parking Dashboard</title>
    <!-- <link rel="stylesheet" type="text/css" href="dashboard.css"> -->
    <!-- ====================== jQuery ============================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>

    <!-- ====================== AngularJS ============================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.js"></script>

    <!-- ====================== Foundation ============================ -->
    <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>

    <!-- ====================== Google Maps API ============================ -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV-BwHOcVyVW0e8yJa1sAk5GBFtm5YeHM">
    </script>

    <!-- =======================Underscore.js =============================== -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

    <!-- ====================== Snackbar.js ============================ -->
    <script type="text/javascript" src="~/Scripts/js/snackbar.min.js"></script>
    <link href="~/Scripts/css/snackbar.min.css" rel="stylesheet" />
    <link href="~/Scripts/css/material.css" rel="stylesheet" />

    <!-- ====================== Angular ======================== -->



    <script type="text/javascript" src="~/Scripts/Angular/pera.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/dashboard/dashboard.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/dashboard/controllers/expense.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/dashboard/controllers/map.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/tabs.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/controllers/tab.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/pera.config.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/garages/garages.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/garages/services/garages.service.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/garages/controllers/garages.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/utils/utils.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/utils/services/snackbar.service.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/tabs.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/tabs/controllers/tab.controller.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/fileupload/fileupload.module.js"></script>
    <script type="text/javascript" src="~/Scripts/Angular/fileupload/controllers/fileupload.controller.js"></script>


    <!-- ====================== CSS ================================= -->
    <link rel="stylesheet" href="~/Scripts/css/site.css" />

</head>


<body>
    <div id="wrapper" ng-controller="TabController as tab">

        <!-- ======================== Nav Bar ============================ -->
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href>Parking Dashboard</a></h1>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li id="OverviewNav" ng-class="{active:tab.sideIsSet(0)}">
                        <a href ng-click="tab.setSideTab(0)">Overview</a>
                    </li>
                    <li id="SingGarNav" ng-class="{active:!tab.sideIsSet(0)}" class="has-dropdown">
                        <a href>Single Garage</a>
                        <ul id="dropdownTopBar" class="dropdown" ng-controller="MapController as map">
                            <div ng-controller="GaragesController as garageCtrl">
                                <div ng-repeat="garage in garageCtrl.garages">
                                    <li><a href ng-click="tab.setSideTab(1);console.log(garage.name)">{{garage.name}}</a></li> <!-- TODO: ng-click event no worky -->
                                </div>
                            </div>
                        </ul>

                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left" ng-controller="MapController as map">
                    <li ng-class="{active:tab.isSet(1)}">
                        <a href ng-click="tab.setTab(1)">Expense Reconcilliation</a>
                    </li>
                    <li ng-class="{active:tab.isSet(2)}">
                        <a href ng-click="tab.setTab(2); map.initialized || map.initialize();">Garage Map</a>
                    </li>
                    <li ng-class="{active:tab.isSet(3)}">
                        <a href ng-click="tab.setTab(3)">Notifications</a>
                    </li>
                </ul>
            </section>
        </nav>





        <!-- ======================== Expense Reconciliation Content ============================ -->
        <div id="expenseContent" class="row" ng-controller="ExpenseController as expenseCtrl" ng-show="tab.isSet(1)">
                <div class="row" style="background-color:lightblue">
                    from the faun forever gone
                    in the towers of your honeycomb
                    I’d a tore your hair out just to climb back darling
                    when you’re filling out your only form
                    can you tell that itʼs just ceremon’
                    now you’ve added up to what you’re from
                </div>
            <div class="large-6 columns">
                <table class="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
                    <tr>
                        <th>Garages</th>
                        <th>Issue</th>
                        <th>Date</th>
                    </tr>
                    <tr ng-repeat="issue in expenseCtrl.issues" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                        <td>{{issue.garage}}</td>
                        <td>{{issue.issue}}</td>
                        <td>{{issue.date | date:'MM/dd/yyyy'}}</td>
                    </tr>
                </table>
            </div>

            <div id="ho" class="large-3 columns">
                <h2>File Upload</h2>
                <div ng-controller="FileUploadController">
                    <input type="file" id="file" name="file" />
                    <br>
                    <button ng-click="upload()">Upload</button>
                    <p>{{data}}</p>
                </div>
            </div>

        </div>



        <!-- ======================== Parking Allocation Content ============================ -->
        <div id="parkingContent" class="row" ng-show="tab.isSet(2)">

            <div id="map-canvas" class="columns small-10"></div>
            <div id="sideBar" class="columns small-2">
                <!-- TODO: add garage info -->
            </div>

        </div>



        <!-- ======================== Notifications Content ============================ -->
        <div id="notificationsContent" class="row" ng-show="tab.isSet(3)">

            <div id="1" class="columns small-10"></div>
            <div id="2" class="columns small-2">

            </div>

        </div>

    </div>

</body>

</html> 