<div id="issuesContent">
    <div id="issueTableWrapper" class="columns small-8">

        <table id="issueTableHead">
            <tr>
                <th class="garageColIssueTable">Garages</th>
                <th class="nameColIssueTable">Name</th>
                <th class="commonIDColIssueTable">Common ID</th>
                <th class="issueColIssueTable">Issue</th>
                <th class="badgeID"></th>
                <th class="dateColIssueTable">Date</th>
            </tr>
        </table>

        <div id="issueTableBodyWrapper">
            <table id="issueTableBody" ng-controller="TabController as tabCtrl" ng-init="tabCtrl.setTab(-1)">
                <tr class="tableRow" ng-repeat="issue in expenseCtrl.issues" ng-class="{selected:tabCtrl.isSet($index)}" ng-click="tabCtrl.setTab($index)">
                    <td class="garageColIssueTable">{{issue.garage}}</td>
                    <td class="nameColIssueTable">{{issue.name}}</td>
                    <td class="commonIDColIssueTable">{{issue.commonID}}</td>
                    <td class="issueColIssueTable">{{issue.issue}}</td>
                    <td class="dateColIssueTable">{{issue.date | date:'MM/dd/yyyy'}}</td>
                </tr>
            </table>
        </div>

    </div>
